* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Segoe UI;
    color: var(--white);
}

:root {
   --black: #123456;
  --dark-navy: #0a0a23;
  --dark-grey: #d0d0d5;
  --fuchsia: #FF00FF;
  --indigo: #4b0082;
  --khaki: #F0E68C;
  --maroon: #800000;
  --magenta: #E11514;
  --medium-grey: #dfdfe2;
  --light-grey: #f5f6f7;
  --peach: #f28373;
  --salmon-color: #f0aea9;
  --light-blue: #8bd9f6;
  --light-orange: #f8b172;
  --light-green: #93cb5b;
  --golden-yellow: #f1ba33;
  --gold: #f9aa23;
  --green: #6bca6b;
  --pink: #FFC0CB;
  --white: #fffff0;
}

header#header-section, main#main-section, footer#footer-section {
    padding: 6px;
}

header#header-section {
    background-color: var(--indigo);
    width: 100%;
    height: 20vh;
}

header h1 {
    text-align: center;
    letter-spacing: 3px;
}

header h1 span{
    color: var(--fuchsia);
}

div.top-container {
    width: 98%;
    background-color: var(--light-green);
    padding: 10px;
    margin: 5px;
}

form label {
    color: var(--magenta);
    font-size: 1.100023rem;
    font-weight: bold;
    width: 30vw;
    letter-spacing: 1px;
}

form input {
    background-color: var(--black);
    border: 2.3459723495px solid var(--white);
    text-align: left;
    font-size: 1em;
    width: 42vw;
    margin: 0 4px;
    outline: none;
    border-radius: 2px;
    padding: 6px 2px;
    letter-spacing: 0.7px;
}

form button {
    font-size: 1em;
    background-color: #0ef;
    padding: 7px 7px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

main#main-section {
    background-color: var(--dark-navy);
    width: 100%;
    height: 600px;
}

h2.word {
    color: var(--fuchsia);
    text-transform: capitalize;
}

footer#footer-section {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--black);
    width: 100%;
    height: 10vh;
}

p.referance {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 8px;
}

a {
    text-decoration: none;
}