* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: poppins, Sans-Serif;
}

body {
	color: #dedede;
	background: #001b29;
}

div.header {
	position: sticky;
	top: 0;
	left: 0;
	background: #051129;
	width: 100%;
	height: auto;
	padding: 7px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	position: relative;
	font-size: 25px;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	cursor: default;
	animation: slideRigth 1s ease forwards;
}

.services .bx {
	color: #0ef;
}

.navbar a {
	display: inline-block;
	font-size: 25px;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	margin-left: 35px;
	transition: 3s;
	opacity: 0;
	animation: slideTop 0.5s ease forwards;
}

.navbar a:hover {
	color: #0ef;
}

.home {
	width: 100%;
	justify-content: space-between;
	background-image: linear-gradient(135deg, #00014B, #530011);
	display: flex;
	align-items: center;
	padding: 20px 30px;
}
.home-content h3 {
	padding-top: 50px;
	font-weight: 600;
	animation: slideBottom 3s ease forwards;
	animation-delay: .7s;
}
.home-content h3:nth-of-type(2) {
	margin-bottom: 30px;
	animation: topLeft 1s ease forwards;
	animation-delay: .7s;
}

h3 span.text {
	color: #0ef;
}

.home-content h1 {
	font-size: 30px;
	font-weight: 700;
	margin: -3px 0;
	opacity: 0;
	animation: slideRight 3s ease forwards;
	animation-delay: 1s;
}


.pro-img {
	margin-top: 50px;
	float: right;
	border: 1px solid #E2415A;
	border-radius: 50%;
	box-shadow: 0 0 30px #E2415A, 0 0 20px #E2415A;
}

.home-content p {
	font-size: 18px;
	animation: slideLeft 3s ease forwards;
	animation-delay: .3s;
	opacity: 0;

}

.home-sci a {
	text-decoration: none;
	color: #0ef;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 3px solid #0ef;
	border-radius: 50%;
	margin: 30px 15px 30px 0;
	animation: slideLeft 1s ease forwards;
	transition: .5s ease;
	animation-delay: calc(.5s * var(--i));
}

.home-sci a:hover {
	background: #0ef;
	color: #081b39;
	box-shadow: 0 0 20px #0ef;
}

.btn-box {
	display: inline-block;
	padding: 12px 28px;
	background: #0ef;
	border-radius: 40px;
	font-size: 17px;
	color: #fff;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 600;
	animation: slideTop 1s ease forwards;
	animation-delay: 2s;
	box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;


}

.btn-box:hover {
	box-shadow: 0 0 5px cyan,
	0 0 25px cyan,
	0 0 5px cyan,
	0 0 100px cyan,
	0 0 200px cyan;
}

section.about {
	padding: 5% 5px;
	width: 100%;
	background-image: linear-gradient(45deg, #D7237D, #3E0072);
	float: left;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
}
.about-img {
	padding-left: 15%;
}
img.pro-img2 {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow:0 0 30px white;
}

.about-text h2 {
	font-size: 30px;
}
.about-text h2 span {
	color: #0ef;
}
.about-text h4 {
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	line-height: 1.7;
	margin: 15px 0 30px;
}

.about-text p {
	color: aliceblue;
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 4rem;
}

.services {
	background: #001b29;
	width: 100%;
	color: aliceblue;
	line-height: 1.4;
	font-size: 16px;
	margin-bottom: 4rem;
}
.sub-title {
	text-align: center;
	font-size: 60px;
	padding-bottom: 70px;
}
.sub-title span {
	color: #0ef;
}
.container {
	padding: 45px;
}

.services-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.services-list div {
	background-color: transparent;
	padding: 40px;
	font-size: 13px;
	font-weight: 13px;
	border-right: 10px;
	border-radius: 20px;
	animation: background 0.5s transfrom 0.5s;
	box-shadow: 1px 1px 20px #012290f7,
				1px 1px 40px #012290f7;
}

.services-list div i {
	width: 50px;
	height: 50px;
	font-size: 50px;
	margin-bottom: 30px;
}

.services-list div h2 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}

.services-list div a {
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
}
.read {
	display: inline-block;
	padding: 12px 20px;
	background: #0ef;
	border-radius: 40px;
	font-size: 16px;
	color: #001b29;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 600;
	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: 2s;
	box-shadow: 0 0 5px #0ef,
				0 0 25px #0ef;
}

.read:hover {
	box-shadow: 0 0 5px cyan,
	0 0 25px cyan,
	0 0 5px cyan,
	0 0 100px cyan,
	0 0 200px cyan;
}

.services-list div:hover {
	transform: translateY(-15px);
}


section.section {
	display: flex;
	flex-wrap: wrap;
}

.container1 {
	width: 100%;
	height: 500px;
	padding: 30px 30px;
	margin: 60px;
}


.heading1 {
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 10px;
	text-decoration-thickness: 5px;
	margin-bottom: 50px;
}

.bar {
	font-size: 23px;
}




.technical-bars .bar {
	margin:  10px 0;
}
.technical-bars .bar:first-child {
	margin-top: 0;
}

.technical-bars .bar:last-child {
	margin-bottom: 0;
}

.technical-bars .bar .info {
	margin-bottom: 5px;
}

.technical-bars .bar .info span {
	font-size: 17px;
	font-weight: 600;
	animation: showText 0.5s 1s linear forwards;
	opacity: 0;
}

.technical-bars .bar .progress-line {
	position: relative;
	border-radius: 10px;
	width: 100%;
	height: 5px;
	background-color: #000;
	animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
	transform: scaleX(0);
	transform-origin: left;
}

@keyframes animate {
	100% {
		transform: scaleX(1);
	}
}


.technical-bars .bar .progress-line span {
	background: #0ef;
	height:100%;
	position: absolute;
	border-radius: 10px;
	animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
	transform: scaleX(0);
	transform-origin: left;
}

.progress-line.html span {
	width: 99%;
}

.progress-line.css span {
	width: 90%;
}

.progress-line.javascript span {
	width: 75%;
}

.progress-line.react span {
	width:35%;
}

.progress-line span::after {
	position: absolute;
	padding: 1px 8px;
	background-color: #000;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	top: 20px;
	right: 20px;
	animation: showText 0.5s 1.5s linear forwards;
	opacity: 0;
}

.progress-line.html span::after {
	content: "99%";
}
.progress-line.css span::after {
	content: "90%";
}
.progress-line.javascript span::after {
	content: "75%";
}
.progress-line.react span::after {
	content: "35%";
}

.progress-line span::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-bottom-width: 0;
	border-right-width: 0;
	border-top-color: #000;
	top: -10px;
	right: 0;
	animation: showText 0.5s 1.5s linear forwards;
	opacity: 0;
}

@keyframes showText {
	100% {
		opacity: 1;
	}
}

.radial-bars {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.radial-bars .radial-bar {
	width: 50%;
	height: 170px;
	margin-bottom: 10px;
	position: relative;
}

.radial-bars .radial-bar svg {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%) rotate(-90deg);
	height:160px;
}

.radial-bars .radial-bar .progress-bar{
	stroke-width: 10px;
	stop-color: black;
	fill: transparent;
	stroke-dasharray: 502;
	stroke-dashoffset: 502;
	stroke-linecap: round;
	animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
	100% {
		stroke-dashoffset: -1;
	}
}

.path {
	stroke-width: 10px;
	stroke: #0ef;
	fill: transparent;
	stroke-dasharray: 502;
	stroke-linecap: round;
}

.path-1{animation: animation-path1 1s 1s linear forwards}
.path-2{animation: animation-path2 1s 1s linear forwards}
.path-3{animation: animation-path3 1s 1s linear forwards}
.path-4{animation: animation-path4 1s 1s linear forwards}

@keyframes animation-path1{
	100% {
		stroke-dashoffset: 70;
	}
}
@keyframes animation-path2{
	100% {
		stroke-dashoffset: 125;
	}
}
@keyframes animation-path3{
	100% {
		stroke-dashoffset: 40;
	}
}
@keyframes animation-path4{
	100% {
		stroke-dashoffset: 85;
	}
}

.radial-bar .percentage {
	position: absolute;
	top: 43%;
	left: 45.5%;
	transform: translateX(-50%, -50%);
	font-size: 17px;
	font-weight: 500;
	animation: showText 0.5s 1s linear forwards;
	opacity: 0;
}

.radial-bar .text {
	width: 100%;
	position: absolute;
	text-align: center;
	left: 15%;
	bottom: -5px;
	transform: translateX(-50px);
	font-size: 17px;
	font-weight: 600;
	animation: showText 0.5s 1s linear forwards;
	opacity: 0;
}


.main-text {
	padding-top: 130px;
	margin-top: 200px;
}

.main-text h2 {
	font-size: 60px;
	line-height: 1;
	text-align: center;
}

.main-text h2 span {
	color: #0ef;
}

.portfolio-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(1440px, auto));
}

.row {
	position: relative;
	max-width: 100vw;
	overflow: hidden;
	border-radius: 10px;
	cursor: pointer;
}

.row img {
	width: 100%;
	border-radius: 8px;
	display: block;
	transition: transform 0.5s;
}

.layer {
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0,0,0,0.1), #0ef);
	position: absolute;
	border-radius: 8px;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;justify-content;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: height 0.5s;
}

.layer h5 {
	color: #000;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

.layer i {
	color: #ff004f;
	margin-top: 20px;
	font-size: 20px;
	background: #fff;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.row:hover img {
	transform: scale(1.1);
}

.row:hover .layer {
	height: 100%;
}

.contact {
/*	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3rem;*/
	padding-left: 30px;
	margin-top: 130px;
}

.contact-text h2 {
	font-size: 70px;
	line-height: 1;
	text-align: center;
}

.contact-text h2 span {
	color: #0ef;
}

.contact-text h4 {
	margin: 15px 0;
	color: rgb(228, 228 228);
	font-size: 20px;
	font-weight: 600;
}

.contact-text p {
	color: rgb(177, 177, 177);
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 2rem;
}

.contact-list {
	margin-bottom: 3rem;
}

.contact-list li {
	margin-bottom: 10px;
	display: block;
}

.contact-list i {
	display: inline-block;
	color: #0ef;
	font-size: 20px;
	font-weight: 600;
	transition: all .40s ease;
}

.contact-list li a:hover {
	transform: scale(1.0) translateY(-5px);
	color: #0ef;
}

.contact-icons i{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #0ef;
	border-radius: 50%;
	font-size: 20px;
	color: #0ef;
	text-decoration: none;
	margin: 30px 15px 30px 0;
	transition: .5s ease;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: calc(.2s * var(--i));
}

.contact-form form {
	position: relative;
}

.contact-form form input, form textarea {
	border: none;
	outline: none;
	width: 90%;
	padding: 10px;
	background: #555557;
	color: #000;
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
}

.contact-form form .send{
	display: inline-block;
	padding: 14px 60px;
	background: #0ef;
	border-radius: 40px;
	font-size: 18px;
	color: #001b29;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 600;
	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: 2s;
	box-shadow: 0 0 5px #0ef,
				0 0 25px #0ef;
}

.contact-form form .send:hover {
	box-shadow: 0 0 5px cyan, 0 0 25px cyan,
			0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

div.last-text {
	width: 90vw;
	margin: 0 auto;
}

.last-text p {
	width: 90%;
	text-align: center;
	padding: 15px 0;
	background: rgb(7, 85, 91);
	font-weight: 300;
	margin-top: 70px;
	margin-right: 3vw;
}

.top {
	position: fixed;
	right: 2.1rem;
	bottom: 2.1rem;
}

.top i {
	color: #000;
	background: #0ef;
	font-size: 20px;
	padding: 10px;
	border-radius: 0.5rem;
}








@keyframes slideRight {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideTop {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideBottom {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideLeft {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@media screen and (min-width:376px) {
	
}
